.Signupcontainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-color: #ffffff;
}
.Signupcontainer h1 {
  text-align: center;
}

.Signupform {
  height: auto; /* Allow height to adjust based on content */
  max-width: 560px; /* Keep the form width reasonable */
  margin: 10vh auto; /* Center horizontally and add vertical spacing */
  padding: 50px; /* Add some padding inside the form */
  background-color: #ffffff; /* Light background color */
  border: 2px solid #d0cbcb; /* Add a border */
  border-radius: 8px; /* Rounded corners */
  /* box-shadow: 10px 10px 20px rgba(8, 2, 42, 0.1); */
  /* Responsive adjustments */
  display: flex;
  flex-direction: column;
  gap: 20px; /* Add spacing between form elements */
}
@media (max-width: 768px) {
  .Signupform {
    padding: 60px; /* Reduce padding for smaller screens */
    margin: 2vh auto; /* Adjust vertical spacing */
  }

  .Signupform div {
    flex-direction: column; /* Stack input fields vertically */
    gap: 20px; /* Add smaller gap for vertical stacking */
  }
}
